@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes marquee {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(-50%);
	}
}

.animateMarquee {
	animation: marquee 40s linear infinite;
}

.marqueerReverse {
	animation-direction: reverse;
}
